@font-face {
    font-family: diranista,sans-serif;
    src: url(../public/libs/font/Diranista-Regular.otf);
}


:root{
    --linear: linear-gradient(45deg,#aa076b,#61045f);
    --color-dark: #f4f4f4;
    --color-main: #c5c5c5;
    --title-font: diranista;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
input[type=submit],button:active{
    transform: translateY(4px);
    cursor: pointer;
}
.authSection{
    display: block;
}
.chatPage{
    display: flex;
}
.signup-section{
    display: flex;
}
.login-section{
    display: flex;
}
.successfuly{
    box-shadow: 20px 20px 60px #90e7a3,
                -20px -20px 60px #fff; 
}
.error{
    box-shadow: 20px 20px 60px #da3737,
                -20px -20px 60px #fff; 
}