@font-face {
    font-family: diranista,sans-serif;
    src: url(../public/libs/font/Diranista-Regular.otf);
}


:root{
    --linear: linear-gradient(45deg,#aa076b,#61045f);
    --color-dark: #f4f4f4;
    --color-main: #c5c5c5;
    --title-font: roboto;
}
html{
    overflow: hidden;
}
::-webkit-scrollbar{
    width: 0px;
}
::-webkit-scrollbar-thumb{
    background: transparent;
    width: 5px;
}
::-webkit-scrollbar-track{
    background: transparent;
    width: 0px;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
input[type=submit],button:active{
    transform: translateY(4px);
    cursor: pointer;
}